* {
    margin: 0;
    padding: 0;
}

.card {
    margin-top: 3% !important;
    padding: 0 !important;
    width: 90% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchTab {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5% !important;
    padding: 0 !important;
    margin: 2%;
    width: 100vw !important;
    justify-content: center;
}

#test1, #test2, #test3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; /* Alterado para preencher todo o card */
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Alterado para preencher todo o card */
}

@media screen and (min-width: 600px) {
    .searchTab {
        flex-basis: 40%;
    }
}

@media screen and (min-width: 900px) {
    .card {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 600px) {
    .searchTab {
        width: 80vw;
    }
}
