* {
    margin: 0;
    box-sizing: border-box;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
    margin: 2% 0;
    margin-bottom: 2%;
}

.card {
    width: 30vw;
    flex: 1;
    margin-bottom: 6%;
}

.card-tabs {
    width: 100%;
    margin-bottom: 15px; /* Adiciona espaço entre as tabs e o conteúdo */
}

.um {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 98vw;
    justify-content: center;
}

.um .card {
    margin: 0;
    justify-content: center;
    flex-basis: 45%;
}

@media screen and (min-width: 400px) {
    .card {
        flex-basis: 48%;
    }
    .um .card {
        flex-basis: 45%;
    }
    .tabs .row{
        font-size: 1rem;
        width: 10%;
    }
    .tabs li{
        width: 50%;
    }
}

@media screen and (min-width: 900px) {
    .card {
        flex-basis: 100%;
    }
    .um .card {
        flex-basis: 90%;
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 90vw;
    }
    .um .card {
        width: 80vw;
    }
}
